@import "../../_global.scss";

.button {
  border: solid 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 8px 38px 10px;
  color: white;
  @extend %font_button;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.small_padding {
  padding: 6px 16px;
}

.grey {
  background-color: $gray;
}

.orange {
  background-color: $orange;
}

.green {
  background: $green;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $medium_blue;
}
