$site-width: 1440px;



$menu_blue: #0891CD;
$menu_blue10: rgba(8, 145, 205, .1);

$medium_blue: #0093EE;
$blue: #0093EE;
$extra_light_blue: #87DBFF;
$light_blue: #56C2F3;

$black: #3E3E3E;
$black2: #3C3C3C;
$medium_gray: #7D7D7D;
$gray: #999999;
$light_gray: #E9E9E9;
$extra_light_gray: #F6F6F6;
$grayCACACA: #CACACA;
$greyFAFAFA: #FAFAFA;

$green:  #4ece3d;
$orange: #ffab00;
$yellow: #ffc63c;
$purple: #AB7DF6;
$purple10: rgba(171, 125, 246, .1);

$highlight_yellow: #FFFB00;

$calendar_green: #81C926;

$lavander_gray: rgba(120, 115, 137, .136);
$lavander_gray20: rgba(120, 115, 137, .2);
$lavander_gray10: rgba(120, 115, 137, .1);