$site-width: 1440px;



$menu_blue: #0891CD;
$menu_blue10: rgba(8, 145, 205, .1);

$medium_blue: #0093EE;
$blue: #0093EE;
$extra_light_blue: #87DBFF;
$extra_light_blue10: rgba(135, 219, 255, .1);
$light_blue: #56C2F3;

$black: #3E3E3E;
$black2: #3C3C3C;
$medium_gray: #7D7D7D;
$gray: #999999;
$light_gray: #E9E9E9;
$light_gray50:rgba(233, 233, 233, .5);
$extra_light_gray: #F6F6F6;
$grayCACACA: #CACACA;
$greyFAFAFA: #FAFAFA;
$greyFBFBFB: #FBFBFB;

$green:  #4ece3d;
$orange: #ffab00;
$yellow: #ffc63c;

$bright_green: #00BE1E;
$bright_green10: rgba(0, 190, 30, .1);

$turquoise: #26C1C9;
$turquoise10: rgba(38, 193, 201, .1);

$purple: #AB7DF6;
$purple10: rgba(171, 125, 246, .1);

$highlight_yellow: #FFFB00;

$calendar_green: #81C926;

$salmon: #E89981;
$salmon30:rgba(232, 153, 129, .3);

$lavander_gray: #787389;
$lavander_gray136: rgba(120, 115, 137, .136);
$lavander_gray20: rgba(120, 115, 137, .2);
$lavander_gray10: rgba(120, 115, 137, .1);