@import "_variables.scss";

.page {
  max-width: $site-width;
  margin: 0 auto;
  background: $greyFAFAFA;
  position: relative;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.main {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden auto;
  flex-direction: column;
}
